/* Cerulean Theme CSS */

/* Global Styles */
body {
    background-color: #fff; /* White background */
    color: #333; /* Dark text color */
    font-family: Franklin Gothic;
    font-size: 11pt;
    font-weight: 300
}

h1 {
  color: #407EC9;
}

h2 {
  color: #407EC9;
}

h3 {
  color: #407EC9;
}

h4 {
  color: #407EC9;
}

hr {
  color: #407EC9;
  border-color: #407EC9;
}

/* Navbar Styles */
.navbar {
    background-color: #407EC9; /* Cerulean blue background */
    border-color: #407EC9; /* Cerulean blue border */
    color: #fff; /* White text color */
}

/* Button Styles */
.btn-primary {
    background-color: #407EC9; /* Cerulean blue button background */
    border-color: #407EC9; /* Cerulean blue button border */
    color: #fff; /* White text color */
}

/* Links Styles */
a {
    color: #407EC9; /* Cerulean blue link color */
}

/* Add more styles as needed */

.toc.float-toc {
    margin-bottom: 20px; /* Adjust the margin as needed */
}
